* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #21c8b6;
}
body{
  background: url("https://image.freepik.com/free-vector/abstract-blue-square-pattern-design-futuristic-design-artwork-background_38782-1463.jpg");
}
#heading{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
position: absolute;
left: 45%;
top: 5%;
}
h3{
  color: #21c8b6;
}
#credits{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
position: absolute;
right: 5%;
bottom: 5%;
}
#credits:hover{
  font-size: 20px;
}

#container {
  max-width: 600px;
  height: 400px;
  margin: 100px auto;
  box-shadow: 0 0 6px 3px #1067ca;
  display: grid;
}
#colors{
  position: absolute;
  display: none;
}

#button-container {
  border: none;
  width: 350px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 36%;
  bottom: 10%;
}

#button-container button {
  padding: 3px;
  background: linear-gradient(0deg, rgba(42, 230, 120, 1) 0%, rgba(31, 194, 196, 1) 100%);
  transition:  .4s;
  border-radius: 5px;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
#button-container button:hover{
  border-radius: 12px;
  box-shadow: 0 4px 2px rgba(31, 32, 32, .5);
}

.blocks {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
.black {
  background-color: black;
}
